body {
    padding: 0;
    margin: 0;
    /*background-color: #eeeeee;*/
    font-family: "Microsoft YaHei UI";
}

html, body, #mapid {
    height: 100%;
    width: 100vw;
}

#title {
    /*text-align: center;*/
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98%;
    height: 12%;
    color: #25a233;
    /*background-color: #eeeeee;*/
    /*vertical-align: middle;*/
    /*horiz-align: center;*/
    /*display: block;*/
    /*position: relative;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    display: flex;
    justify-content: center;  /*???*/
    align-items: center;      /*???*/
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;

}

#notification {
    color: red;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

#dtcontent {
    /*text-align: center;*/
    width: 98%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 100px;
    height: 50px;
    /*text-align: right;*/
}

#d4 {
    text-align: center;
    font-size: 30px;
}

#submit {
    font-size: 20px;
    margin-bottom: 10px;
}

#lat {
    /*width: 115px;*/
    /*margin-right: 40px;*/
}

#lon {
    /*width: 115px;*/
    /*margin-right: 53px;*/
}

input {
    width: 130px;
}

select {
    width: 124px;
}



#ditieDes {
    /*float: left;*/
}

input.subway {
    width: 14px;
    /*float: left;*/
    text-align: right;
}

td.sbway {
    width: 130px;
    height: 30%;
    text-align: left;
}


textarea {
    resize: none;
    width: 130px;
    height: 70px;
}

button {
    /*margin-left: 900px;*/
    color: #0ea432;
}

iframe {
    width: 98%;
    height: 420px;
    float: left;
}

.describ {
    font-size: small;
    width: 40px;
    font-weight: bold;
    font-size: 18px;
}

label.lditie {
    font-weight: normal;
    font-size: 14px;
}

.tl {
    text-align: right;
}


#container {
    margin: 0 auto;
    /*width: 50%;  !* Ancho del contenedor *!*/

}

#container input {
    height: 2.5em;
    visibility: hidden;
}

#container label {
    background: #f9f9f9;  /* Fondo de las pestañas */
    border-radius: .25em .25em 0 0;
    color: #888;  /* Color del texto de las pestañas */
    cursor: pointer;
    display: block;
    float: left;
    font-size: 1em;  /* Tamaño del texto de las pestañas */
    height: 2.5em;
    line-height: 2.5em;
    margin-right: .25em;
    padding: 0 1.5em;
    text-align: center;
}

#container input:hover + label {
    background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
    color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#container input:checked + label {
    background: #f1f1f1;  /* Fondo de las pestañas al presionar */
    color: #444; /* Color de las pestañas al presionar */
    position: relative;
    z-index: 16;
    /*
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -o-transition: .1s;
    -ms-transition: .1s;
    */
}

#content {
    background: #f1f1f1;  /* Fondo del contenido */
    border-radius: 0 .25em .25em .25em;
    min-height: 27em;  /* Alto del contenido */
    position: relative;
    width: 90%;
    z-index: 15;
}

/*#content div {*/
    /*opacity: 0;*/
    /*padding: 1.5em;*/
    /*!*position: absolute;*!*/
    /*z-index: 18;*/
    /*!**/
    /*transition: all linear 0.1s;*/
    /**!*/
/*}*/

#content-1 p {
    clear: both;
    margin-bottom: 1em;
}

#content-2 p {
    float: left;
    width: 48.5%;
}

#tab-1.visible，#tab-2.visible {
    visibility: visible !important;
}

#mon {
    margin-left: auto;
    margin-right: auto;
}